body{
		margin:0;
		font-size: 62.5%;
		box-sizing: content-box;
		background-color: #fafafa;
	}
		.header{
			display: flex;
			align-items: center;
			justify-content: space-between;
			width: 100%;
			height: 3rem;
			font-size: 1.4rem;
			color: #29b078;
			padding-left: 15rem;
			padding-right: 15rem;
		}
		.header-left{
			width: 15rem;
		}
		.header-right{
			display: flex;
			justify-content: space-around;
			width: 15rem;
		}
		.weixin{
			position: relative;
		}
		.extro-info1{
			position: absolute;
			top:100%;
			left: -1.8rem;
			display: none;
			width: 6rem;
			height: 6rem;
		}
		.weixin:hover .extro-info1{
			display: block;
		}
		.menu{
			width: 100%;
			height: 5rem;
			line-height: 5rem;
			background-color: #29b078;
			padding: 0 16rem;
		}
		.menu img{
			float: left;
			height: 5rem;
		}
		.submenu{
			position: relative;
			float: right;
		    color: white;
		    font-size: 1.2rem;
		    margin-left: 4rem;
		}
		.submenu:link {
           font-size: 12px;
           text-decoration: none;
        }
        .submenu:visited {
           font-size: 12px;
           color: white;
           text-decoration: none;
        }
        .submenu:hover {
           font-size: 12px;
           color: white;
           text-decoration: none;
        }
		.extro-info2{
			position: absolute;
			left: -1.1rem;
			bottom: 0;
			height:0.2rem;
			width: 5rem;
			display: none;
			background-color: white;
		}
		.submenu:hover .extro-info2{
			display: block;
		}
        .title{
        	padding: 2rem 15rem;
        	font-size: 1.2rem;
        }
        .title span{
        	color:#29b078; 
        }
        .section1{
        	display: flex;
        	height: 5rem;
        	line-height: 5rem;
        	font-size: 1.2rem;
        	padding: 0 15rem;
        	border-top: 1px solid #afafaf;
        	border-bottom: 1px solid #afafaf;
        }
        .total{
        	font-size: 1.4rem;
        	color:#afafaf; 

        }
        .branch{
        	height: 2rem;
        	line-height: 2rem;
        	font-size: 1.4rem;
            margin:1.5rem 1rem;
        }
        .branch:hover{
        	background-color: #29b078;
        	color: white;
        }
        .subtitle{
        	height: 6rem;
        	line-height: 6rem;
        	padding-left: 15rem;
        	padding-right: 15rem;
        	font-size: 1.6rem;
        	font-weight: bold;
        	border-bottom: 1px solid #afafaf;
        }
        .section2{
        	display: flex;
        	justify-content: space-between;
        	padding-right: 15rem;
        	padding-left: 15rem;
        	}

        .block{
        	position: relative;
        	width: 25rem;
        	height: 31rem;
        	border:1px solid  #afafaf;
        	margin-top: 3rem;
        	box-sizing: border-box;
	
        }
        .row1{
        	display: flex;
        	width: 100%;
        	height: 14rem;
        	padding: 1rem;
        	border-bottom: 1px solid #afafaf;
        }
        .row1 p{
        	font-size: 1.4rem;
        	padding-left: 1rem;
        }
        .row1 span{
        	font-size: 1.6rem;
        	font-weight: bold;
        }
        .row2{
        	display: flex;
        }
        .row2 p{
        	width: 50%;
        	height: 2rem;
        	line-height: 2rem;
        	font-size: 1.2rem;
        	padding-left: 1rem;
        	border-bottom: 1px solid #afafaf;
        	margin-bottom: 0;

        }
        .row3{
        	display: flex;

        }
        .row3 span{
        	color: red;
        }
        .row3 p{
            width: 50%;
        	height: 2rem;
        	line-height: 2rem;
        	font-size: 1.2rem;
        	padding-left: 1rem;
        	border-bottom: 1px solid #afafaf;
        	margin-bottom: 0;
        }
        .right-border{
        	border-right: 1px solid #afafaf;
        }
        .row4{
        	display: flex;
        	height: 6rem;

        }
        .left{
        	width: 40%;
        	height: 6rem;
        	line-height: 6rem;
        	text-align: center;
        	font-size: 1.2rem;
        	color: #afafaf;    	
        	border-bottom: 1px solid #afafaf;
        }
        .right{
        	width: 60%;
        	height: 6rem;
        	border-left: 1px solid #afafaf;
        }
        .right div{
        	height: 2rem;
        	line-height: 2rem;
        	font-size: 1.2rem;
        	padding-right: 1rem;
        	padding-left: 1rem;       
        	border-bottom: 1px solid #afafaf;
        }
        .left-side{
        	float:left;
        }
        .right-side{
        	float:right;
        }
        .row5{
        	width: 100%;
        	height: 3rem;
        	line-height: 3rem;
        	font-size: 1.6rem;
        	font-weight: bold;
        	padding-left: 1rem;
        	border-bottom: 1px solid #afafaf;
        }
        .row5 span{
        	color: red;
        }
        .row6{
        	width: 100%;
        	height: 2rem;
        	line-height: 2rem;
        	font-size: 1.2rem;
        	color: #afafaf;
        	padding-left: 1rem;
        }
        .extro-info3{
            position: absolute;
            top: 0;
            background-color: rgba(12,12,12,0.7);
            width: 25rem;
            height: 31rem;
            color: white;
            padding:5rem 3rem;
            font-size: 1.2rem;
            display: none;
        }
        .extro-top{
        	width: 100%;
        	height: 2rem;
        	line-height: 2rem;
        	text-align: center;
        	}        
        .extro-bottom{
        	text-indent: 2em;
        }
        .block:hover .extro-info3{
        	display: block;
        }
        
        .section3{
        	display: flex;
        	flex-wrap: wrap;
        	justify-content: space-between;
        	padding-right: 15rem;
        	padding-left: 15rem;
        }
        .empty{
        	width: 25rem;
        	height: 35rem;
        }
        .section4{
        	display: flex;
        	justify-content: space-between;
        	padding-right: 15rem;
        	padding-left: 15rem;
        	}
        .section5{
        	padding-left: 15rem;
        }
        .section6{
			width: 100%;
			height: 10rem;
			padding-left: 15rem;
			padding-right: 15rem;
			color: white;
			background-color: #26a26f;
			margin-top: 5rem;
		}
		.box1{
			width: 20rem;
			float: left;
		}
		.line1{
			height: 5rem;
			line-height: 5rem;
			font-size: 1.4rem;

		}
		.line2{
			height: 2rem;
			line-height: 2rem;
			font-size: 1rem;
		}
		.line2 span{
			padding-right: 3rem;
		}
		.box2{
			float: right;
		}
		.box2 .line{
			margin-top: 1rem;
			height: 2rem;
			font-size: 1.4rem;
		}
		.box2 img{
			width: 6rem;
            height: 6rem;
		}
		.section6 a:link{
			color: white;
		}
		.section6 a:visited{
			color: white;
		}
		.section6 a:hover{
			color: white;
		}
		.section7{
			width: 100%;
			height: 2rem;
			line-height: 2rem;
			text-align: center;
			padding-left: 15rem;
			padding-right: 15rem;
			color: white;
			border-top: 1px solid green;
			background-color: #26a26f;
		}