<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>demo1</title>
</head>
<body ng-app="app">
    <div ng-controller="myCtrl1">  
        <button ng-click="onclick1()">请点击我1</button>  
        {{value1}}  
    </div>  
    <div ng-controller="myCtrl2">  
        <button ng-click="onclick2()">请点击我2</button>  
        {{value2}}  
    </div>   

<div ng-controller="myCtrl3">  
        <button ng-click="onclick3()">请点击我3</button>  
        {{value4}}  
    </div>  
    <div ng-controller="myCtrl4">  
        <button ng-click="onclick4()">请点击我4</button>  
          {{value5}}  
    </div>  
</body>
<script src="http://apps.bdimg.com/libs/angular.js/1.2.16/angular.min.js"></script>
<script>
     //constant
    var app=angular.module('app',[]);
    app.constant('myConstant',{"value1":"aaa","value2":"hello world",value3:1});    
    app.controller('myCtrl1', function($scope,myConstant) {  
    $scope.onclick1 = function() {  
       $scope.value1 = myConstant.value1 + (++myConstant.value3);  
       console.log("ctrl1:"+myConstant.value3) ;
   };  
});  
    app.controller('myCtrl2', function($scope,myConstant) {  
    $scope.onclick2 = function() {  
       $scope.value2 = myConstant.value2 +  (++myConstant.value3);  
       console.log("ctrl2:"+myConstant.value3) ;
   };  
});  

    //value
    app.value('myValue',{"value4":"bbb","value5":"hello world",value6:1});    
    app.controller('myCtrl3', function($scope,myValue) {  
        $scope.onclick3 = function() {  
            $scope.value4 = myValue.value4 + (++myValue.value6); 
            console.log("ctrl3:"+myValue.value6) ; 
        };  
    });  
    app.controller('myCtrl4', function($scope,myValue) {  
        $scope.onclick4 = function() {  
            $scope.value5 = myValue.value5 +  (++myValue.value6); 
            console.log("ctrl4:"+myValue.value6) ;
        };  
    });  
</script>
</html>