<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" type="text/css" href="../bootstrap/bootstrap.min.css">
    <title>demo</title>

    <style type="text/css">
    body{
        margin:20px;
        font-size: 20px;
    }
    div{
        margin:10px;
    }
        button{
            padding:20px;
            background-color: forestgreen;
        }
    </style>
</head>

<body ng-app="app" ng-controller="demoCtrl">
    <form name="myForm">
        <div>ng-blur</div>
        <div>用户名：<input ng-blur="fn1(name)" ng-model="name" required><span>{{tip1}}</span></div>
        <div>ng-focus</div>
        <div>输入密码：<input ng-focus="fn2(pwd)" onfocus="fn4()" ng-model="pwd" required><span>{{tip2}}</span></div>
        <div>ng-change</div>
        <div>再次输入密码：<input ng-change="fn3(pwd,pwd1)" ng-model="pwd1" required><span>{{tip3}}</span></div>
    </form>
    <div>ng-disabled</div>
    <button class="btn btn-default btn-success" ng-disabled="myForm.$invalid" disabled="disabled" ng-click="btn()">提交</button>
    <span>{{result}}</span>
</body>


<script src="http://apps.bdimg.com/libs/angular.js/1.2.16/angular.min.js"></script>
<script src="https://cdn.bootcss.com/angular-messages/1.5.3/angular-messages.min.js"></script>
<script>
    var app = angular.module('app', ['ngMessages']);
    app.controller('demoCtrl', function ($scope) {
        $scope.btn=function(){
            $scope.result="提交成功";
        }
        $scope.fn1=function(name){
            console.log(name);
            if(name==undefined){
                $scope.tip1="用户名不能为空";
            }
            else if(name!=undefined&&name.length<3){
                $scope.tip1="用户名长度不能小于3";
            }
            else if(name.length>5){
                $scope.tip1="用户名长度不能大于5";
            }
            else{
                $scope.tip1='';
            }
        }
        $scope.fn2=function(pwd){
            console.log(0);
            if(pwd==undefined){
                $scope.tip2="密码不能为空";
            }
            else if(pwd!=undefined&&pwd.length<5){
                $scope.tip2="密码长度不能小于5";
            }
            else if(pwd.length>10){
                $scope.tip2="密码长度不能大于10";
            }
            else{
                $scope.tip2='';
            }
        }
        $scope.fn3=function(pwd,pwd1){
            console.log(pwd);
            console.log(pwd1);
            if(pwd1==undefined){
                $scope.tip3="密码不能为空";
            }
            else if(pwd!=pwd1){
                $scope.tip3="密码输入不正确";
            }
            else{
                $scope.tip3='';
            }
        }
        fn4=function(){
            console.log(1);
        }
    });
</script>

</html>