<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">  
    <link rel="stylesheet" type="text/css" href="../bootstrap/bootstrap.min.css">
    <title>carrots</title>
    <style>
        .full button span {
            background-color: limegreen;
            border-radius: 32px;
            color: black;
        }
        .partially button span {
            background-color: orange;
            border-radius: 32px;
            color: black;
        }
    </style>
</head>
<body ng-app="app">
       
    <div ng-controller="dateCtrl">             

        <p class="input-group">
            <input type="text" class="form-control" uib-datepicker-popup ng-model="dt" is-open="popup2.opened" datepicker-options="dateOptions" ng-required="true" close-text="Close" />
            <span class="input-group-btn">
            <button type="button" class="btn btn-default" ng-click="open2()"><i class="glyphicon glyphicon-calendar"></i></button>
            </span>
        </p>
    </div>
 
<script src="./frame/angular.min.js"></script>
<script src="https://cdn.bootcss.com/angular.js/1.6.9/angular-animate.min.js"></script>
<script src="./frame/angular-sanitize.min.js"></script>
<script src="./frame/ui-router.min.js"></script>
<script src="./frame/ui-bootstrap-tpls.min.js"></script>
<script src="../jquery-3.3.1.min.js"></script>
<script src="../bootstrap/bootstrap.min.js"></script>
<script src="index.js"></script>
<script src="login.js"></script> 
<script src="backstage1.js"></script>
<script src="list.js"></script>
<script src="detail.js"></script>

<script>
        var app=angular.module('app', ['ngAnimate', 'ngSanitize', 'ui.bootstrap']);
        app.controller('dateCtrl', function ($scope) {
            $scope.today = function() {
            $scope.dt = new Date();
        };
            $scope.today();
                      
            $scope.clear = function() {
                $scope.dt = null;
            };
                      
                        $scope.inlineOptions = {
                          customClass: getDayClass,
                          minDate: new Date(),
                          showWeeks: true
                        };
                      
                        $scope.dateOptions = {
                          dateDisabled: disabled,
                          formatYear: 'yy',
                          maxDate: new Date(2020, 5, 22),
                          minDate: new Date(),
                          startingDay: 1
                        };
                      
                        // Disable weekend selection
                        function disabled(data) {
                          var date = data.date,
                            mode = data.mode;
                          return mode === 'day' && (date.getDay() === 0 || date.getDay() === 6);
                        }
                      
                        $scope.toggleMin = function() {
                          $scope.inlineOptions.minDate = $scope.inlineOptions.minDate ? null : new Date();
                          $scope.dateOptions.minDate = $scope.inlineOptions.minDate;
                        };
                      
                        $scope.toggleMin();
                      
                        $scope.open1 = function() {
                          $scope.popup1.opened = true;
                        };
                      
                        $scope.open2 = function() {
                          $scope.popup2.opened = true;
                        };
                      
                        $scope.setDate = function(year, month, day) {
                          $scope.dt = new Date(year, month, day);
                        };
                      
                        $scope.formats = ['dd-MMMM-yyyy', 'yyyy/MM/dd', 'dd.MM.yyyy', 'shortDate'];
                        $scope.format = $scope.formats[0];
                        $scope.altInputFormats = ['M!/d!/yyyy'];
                      
                        $scope.popup1 = {
                          opened: false
                        };
                      
                        $scope.popup2 = {
                          opened: false
                        };
                      
                        var tomorrow = new Date();
                        tomorrow.setDate(tomorrow.getDate() + 1);
                        var afterTomorrow = new Date();
                        afterTomorrow.setDate(tomorrow.getDate() + 1);
                        $scope.events = [
                          {
                            date: tomorrow,
                            status: 'full'
                          },
                          {
                            date: afterTomorrow,
                            status: 'partially'
                          }
                        ];
                      
                        function getDayClass(data) {
                          var date = data.date,
                            mode = data.mode;
                          if (mode === 'day') {
                            var dayToCheck = new Date(date).setHours(0,0,0,0);
                      
                            for (var i = 0; i < $scope.events.length; i++) {
                              var currentDay = new Date($scope.events[i].date).setHours(0,0,0,0);
                      
                              if (dayToCheck === currentDay) {
                                return $scope.events[i].status;
                              }
                            }
                          }
                      
                          return '';
                        }
                      });
                    </script>


</body>
</html>

// //datapickerpopup时间选择器
// $scope.today = function() {
//     $scope.dt = new Date();
// };
// $scope.today();        
// $scope.clear = function() {
//     $scope.dt = null;
// };                  
// $scope.inlineOptions = {
//     customClass: getDayClass,
//     minDate: new Date(),
//     showWeeks: true
// };                  
// $scope.dateOptions = {
//     dateDisabled: disabled,
//     formatYear: 'yy',
//     maxDate: new Date(2020, 5, 22),
//     minDate: new Date(),
//     startingDay: 1
// };
              
// // Disable weekend selection
// function disabled(data) {
//     var date = data.date,
//     mode = data.mode;
//     return mode === 'day' && (date.getDay() === 0 || date.getDay() === 6);
// }
              
// $scope.toggleMin = function() {
//     $scope.inlineOptions.minDate = $scope.inlineOptions.minDate ? null : new Date();
//     $scope.dateOptions.minDate = $scope.inlineOptions.minDate;
// };                 
// $scope.toggleMin();                  
// $scope.open1 = function() {
//     $scope.popup1.opened = true;
// };                 
// $scope.open2 = function() {
//     $scope.popup2.opened = true;
// };
              
// $scope.setDate = function(year, month, day) {
//     $scope.dt = new Date(year, month, day);
// };
// $scope.formats = ['dd-MMMM-yyyy', 'yyyy/MM/dd', 'dd.MM.yyyy', 'shortDate'];
// $scope.format = $scope.formats[0];
// $scope.altInputFormats = ['M!/d!/yyyy'];
              
// $scope.popup1 = {
//     opened: false
// };                 
// $scope.popup2 = {
//     opened: false
// };                  
// var tomorrow = new Date();
// tomorrow.setDate(tomorrow.getDate() + 1);
// var afterTomorrow = new Date();
// afterTomorrow.setDate(tomorrow.getDate() + 1);
// $scope.events = [
//     {
//     date: tomorrow,
//     status: 'full'
// },
//     {
//     date: afterTomorrow,
//     status: 'partially'
// }];
              
// function getDayClass(data) {
//     var date = data.date,
//     mode = data.mode;
//     if (mode === 'day') {
//         var dayToCheck = new Date(date).setHours(0,0,0,0);
//         for (var i = 0; i < $scope.events.length; i++) {
//             var currentDay = new Date($scope.events[i].date).setHours(0,0,0,0);
//             if (dayToCheck === currentDay) {
//                 return $scope.events[i].status;
//                 }
//             }
//         }                  
//     return '';
// }  


   <!-- <p class="input-group time">
                        <input type="text" class="form-control" uib-datepicker-popup 
                        ng-model="dtStart" is-open="popup1.opened" 
                        datepicker-options="dateOptions" 
                        ng-required="true" close-text="Close" />
                        <span class="input-group-btn">
                            <button type="button" class="btn btn-default" 
                            ng-click="open1()">
                                <i class="glyphicon glyphicon-calendar"></i>
                            </button>
                        </span>
                    </p> -->


<!-- <p class="input-group time">
                        <input type="text" class="form-control" uib-datepicker-popup 
                        ng-model="dtEnd" is-open="popup2.opened" datepicker-options="dateOptions" 
                        ng-required="true" close-text="Close" />
                        <span class="input-group-btn">
                            <button type="button" class="btn btn-default" ng-click="open2()">
                                <i class="glyphicon glyphicon-calendar"></i>
                            </button>
                        </span>
                    </p> -->

